<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 注解驱动：自动注册RequestMappingHandlerMapping、RequestMappingHandlerAdapter -->
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="lbl" />
	<context:component-scan base-package="lbl.service.imp" />
	<context:component-scan base-package="lbl.service" />
	<!-- <context:component-scan base-package="lbl.controller" /> -->
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<!-- <property name="prefix" value="/WEB-INF/jsp/" /> -->
		<!-- 后缀 -->
		<!-- <property name="suffix" value=".jsp" /> -->
	</bean>
	
	<context:property-placeholder location="classpath:db.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${dburl}" />
		<property name="username" value="${dbusername}" />
		<property name="password" value="${pwd}" />
		<!-- 连接池启动时的初始值 -->
		<property name="initialSize" value="5" />
		<!-- 连接池的最大值 -->
		<property name="maxActive" value="500" />
		<!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
		<property name="maxIdle" value="5" />
		<!-- 最小空闲值.当空闲的连接数少于阈值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
		<property name="minIdle" value="1" />
	</bean>
	
	<!-- 配置有关mybatis的信息   所有的mapper 交给sqlSessionFactory管理 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:lbl/mapper/*.xml"></property>
	</bean>
	
	<!-- Mapper接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="lbl.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		
	</bean>
	
	<!-- 基于数据源管理事务  实际是对数据源连接的控制 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" ></property>
	</bean>
	
	<tx:advice id="userTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="insert*" propagation="REQUIRES_NEW"
				read-only="false" rollback-for="java.lang.Exception" />
			<tx:method name="update*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="pag*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
	
		</tx:attributes>
	</tx:advice>
	
	
	<!--切入点 ：关注的方法（service层）  -->
	<aop:config>
		<aop:pointcut id="pc"
			expression="execution(* lbl.service.*.*(..))" /> <!-- 把事务控制在Service层 -->
		<aop:advisor pointcut-ref="pc" advice-ref="userTxAdvice" />
	</aop:config>
	
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 上传文件大小限制，单位为字节-10Mb -->
		<property name="maxUploadSize">
			<value>10485760</value>
		</property>
		<!-- 请求的编码格式 -->
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
	</bean>
	
</beans>
